html {
	background-color: #869960
}

body {
	font-family:Tahoma ,sans-serif ;
	font-size:15px;
	margin:0;
	padding:0;
}


.container {
	max-width:940px;
	margin-left:auto;
	margin-right:auto;
	background-color: #FFF;
	padding-left:40px;
	padding-right:40px;
	box-sizing:border-box;
	background-image:url(../images/color-title.png);
	background-repeat:repeat-x;
	padding-top:15px;
	/* short hand codding
		background:url(../images/color-title.png) left bottom repeat-x ,
					  #FFF url(../images/color-title.png) left top repeat-x;
	*/
}

/*responsive design*/
@media screen and (min-width:1300px) {
	
	body {
		font-size:17px;
	}
	.container {
		max-width:1200px;
	}
}


@media screen and (max-width:480px) {
	.container {
		padding-left:20px;
		padding-right:20px;
	}
}

header {
	padding-top:20px;
	color:#617140;
	/*background-color:gray;*/
	background-image:url(../images/flower.jpg);
	background-position:right center;
	background-repeat:no-repeat;
	background-color:#617140;
}

header h1 {
	margin:0;
	font-weight:normal;
	font-size:165%
}

header p {
	margin:0;
}

.content-area {
	border-top:3px solid #e5e9dc;
	border-bottom:3px solid #e5e9dc;
	background-color:#FFF;
}

@media screen and (max-width: 480px) {
	.content-area {
		padding-top:20px;
	}
}


.main-area {
	width:66%;
	float:left; 
	padding-right:40px;
	box-sizing:border-box;
}

.sidebar {
	width:34%
	float:left;
	background-color:#e5e9dc;
	padding-left:40px;
	padding-right:40px;
	padding-top:20px;
	padding-bottom:20px;
	/*shor hand
		padding: 20px 40px;
	*/
	box-sizing:border-box;
	font-size:114%;
	/* z-index:12; */
	background-image:linear-gradient(to bottom,#e5e9dc, #FFF);
}

@media screen and (max-width:700px) {
	.main-area,
	.sidebar {
		width:auto;
		float:none;
	}
	
	.main-area {
		padding-right:0;
	}
}

.info-box {
	background-color:#efeedb;
	border:5px solid #e6e5c2;
	padding:20px 40px 7px 40px;
	margin-bottom:1em;
}

@media screen and (max-width: 480px) {
	.hide_small {
		display:none;
	}
}

.fix {
	clear:both;
}

.group :before ,
.group :after {
	content:"";
	display:table;
}

.group:after {
	clear:both;
}

.group {
	zoom:1;
}

footer {
  text-align:center;
  font-size:85%;
  color:#999; 	
  padding-bottom:20px;
  padding-top:20px;
}

.siteNav {
	margin-top:20px;
}

.siteNav li {
	list-style:none;
	float:left;
	margin-right:5px;
}

.siteNav ul {
	margin:0;
	padding:0;
}

.siteNav a {
	display:block;
	color:#FFF;
	text-decoration:none;
	padding:10px 20px;
	border: 3px solid #e5e9dc;
	border-bottom:none;
	background-color:#FFF;
	transition-property:color,background-color; /*all*/
	transition-duration: 2s;
}

.siteNav a:hover {
	background-color:#e5e9dc;
}

@media screen and (max-width:700px) {
	. siteNav li {
		width:33.332%;
		margin-right:0;
	}
	
	.siteNav a {
		padding:15px 0;
		margin-right:5px;
		margin-bottom:5px;
		text-align:center;
	}
}

@media screen and (max-width:480px) {
	.siteNav li {
		width:50%;
	}
}


img {
	max-width:100%;
	height:auto;
}
/*banner overlay*/

.banner_image {
	 position:relative;
	 top:10px;
	 left:100px;
	 z-index:10;
	 overflow:hidden;
}

.banner_image img {
	display:block;
	transition-property:all;
	transition-duration:1s;
	
}

.banner_image:hover img {
	transform:scale(1.5);
}

.banner_description {
	position:absolute;
	bottom:0px;
	left:0px;
	color:#FFF;
	background-color:rgba(0,0,0,.65);
	padding:15px 25px;
	opacity:0;
	transition-property:all;
	transition-duration:1s;
	transform:translateY(100%);
}

.banner_image:hover.banner_description {
	opacity:1;
	transform:translateY(0);
}


.birds {
	background-color:#c2bbb1;
	text-align:center;
	padding:100px 0;
	background-image:url(../images/bird.jpg);
	background-position:center center;
	background-size:cover;
	background-repeat:no-repeat;
	/*combine a multiple property at one line 
		background:#c2bbb1 url(../images/bird.jpg) center center no-repeat;
	*/
}

.birds p {
	margin:0;
	background-color:rgba(0,0,0,.7);
	color:FFF;	
}



















