
form {
	background-color:#ECECEC;
	padding:30px 40px;
	
}

select {
	-webkit-appearance:none;
	-webkit-border-radius:0;
	 border-radius:0;
}

input ,
select  {
	font-family:Tahoma,sans-serif;
	font-size:100%;
}

input [type="email"],
input [type="password"],
	 select {
	width:100%;
	display:block;
	box-sizing:border-box;
	padding:0 10px;
	height:40px;
	font-family:Tahoma,sans-serif;
	font-size:100%;
	margin-bottom:15px;
	border:1px solid #CDCDCD;
	outline:none;
}

 input    [type="email"]:focus,
 input    [type="password"]:focus {
	 border : 1px solid #869960;
	 box-shadow: inset 2px 2px 2px rgba(0,0,0 .13) ;
 }

 input [type="submit"] {
	 width:100%;
	 display:block;
	 box-sizing:border-box;
	 background-color:#869960;
	 color:FFF;
	 padding:10px 0;
	 border: 1px solid #798A56;
	 border-radius: 3px;
	 margin-bottom: 10px;
	 
 }
 
 input[type="submit"]:hover ,
 input[type="submit"]:focus {
	  border:1px solid #535E3B;
	  background-color:#798A56;
 }
 
.checkbox-text {
	font-size:85%;
	color:#777;
} 

.email_class {
	position:absolute;
	height:0;
	width:0;
	overflow:hidden;
	visibility:hidden;
}