@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    background-color: #EBEBEB;
    margin:0;
    font: 13px Tahoma, Helvetica, sans-serif;
}

img {
    width: 20px;
}

input,select {
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 25px;
    line-height: 25px;
    padding-left: 5px;
    margin: 5px 0;
}

label {
    display: block;
    font-size: 12px;
}

body > header,
section {
    border-bottom: 1px dashed #D8D8D8;
}

body > header {
    background-color: #F1F1F1;
}

main,header {
    /*width: 900px;*/
    width: 60%;
    margin: 0 auto;
}
section>header {
    width: 100%;
}
section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header > h1 {

    font-size: 28px;
    color: #3AA3E5;
    margin-top: 0;
    padding-top: 20px;
    font-weight: normal;
    padding-left: 10px;
}

h4 {
    font-size: 16px;
    margin-bottom: 0;
}

p {
    width: 77%;
}



.search::before {
    font-family: FontAwesome, serif;
    position: absolute;
    content: '\f002';
    left: 150px;
    top: 23px;
    font-size: 20px;
}

.search {
    width: 180px;
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.search > label {
    display: block;
    font-weight: bold;
}

.search button {
    margin: 0;
    padding:0;
    background:none;
    border:0;
    cursor: pointer;
    position: absolute;
    right: 8px;
    bottom: 6px;
}

.left {
    width: 200px;
}

.right {
    width: 51%;
}

.form-control {
    display: inline-block;
}



select {
    width: 100%;
    min-width: 300px;

}



.date input {
    width: 230px;
}

input[type="submit"] {
    float: right;
    margin-top: 20px;
    background-color: #32A2E4;
    color: #fff;
    height: 30px;
    width: 125px;
    border: 1px solid #D5E2EC;
    cursor: pointer;
    font-weight: bold;
    border-radius: 6px;

}
input[type="submit"]:hover {
    background: #3BBC96;
    box-shadow: 1px 1px #3BBC96;
    outline: none;
    border:none;
    border-radius: 6px;
}