
body {
    font-family: "Calibri Light", Verdana sans-serif;
}

section {
    margin: 40px auto;
    width: 890px;
    border: 1px solid #a5b2b3;
    height: 445px;
}

img {
    width: 200px;
}

header h2 {
    text-align: center;
}

img:hover {
    opacity: 0.4;
}

article {
    display: inline-block;
    width: 200px;
    float: left;
    margin-right: 20px;
}

.business {
    margin-left: 10px;
    margin-right: 20px;
}
