* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Lemon";
    src: url('fonts/Lemon-Regular.ttf');
}

body {
    background: rgb(96, 45, 117);
    color: rgb(255, 243, 253);;
    font-family: "Lemon",Arial, sans-serif;
    font-size: 24px;
}

main {
    width: 900px;
    margin: 50px auto;
}

.watch-container {
    background: rgb(255, 174, 50);
    border-radius: 30px;
    height: 485px;
}

h1 {
    text-align: center;
    color: #000;
    text-transform: capitalize;
}

.watch-container > header {
    padding: 15px 0;
}

article {
    background: rgb(95, 32, 86);
    display: inline-block;
    box-sizing: border-box;
    width: 220px;
    height: 385px;
    padding: 10px;
    margin-left: 55px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

ul li,button,p {
    font-size: 15px;
}

article h3,article p {
    text-align: center;
    margin-bottom: 5px;
}

article p {
    color: rgb(255, 200, 80);
}

h3 {
    font-size: 22px;
}

img {
    height: auto;
    width: 95%;
    border-radius: 50%;
    border: 5px solid rgb(130, 107, 115);
}

ul {
    list-style: none;
    padding-left: 10px;
}

button {
    width: 200px;
    padding: 3px;
    background: #ffffff;
    border-radius: 20px;
    margin: 10px auto;
    color: rgb(149, 75, 255);
    font-weight: 700;
    font-style: italic;
    font-family: "Lemon",Arial, sans-serif;
}
