@charset "utf-8";
/* CSS Document */
footer {
		color:#666;
		background:#222;
		padding:17px 0 18px 0 ;
		border-top:1px solid #000;
	}
	
	footer a{
		color:#999;
	}
	
	footer a:hover{
		color:#efefef;
	}
