@charset "utf-8";
/* CSS Document */


.wrapper{
		min-height:100%;
	
	}
	
	.panel {
		border:none;
	}
	
	.panel-body {
		background-color:#f9f9f9;
	}
	
	.panel-info>.panel-heading{
		background-color:#f0ad4e;
		color:white;
		border-color:transparent;
	}
	
	.sidebar-header {
		font-size:120%;
		letter-spacing:2px;
	}
	
	.form-control {
		font-size:14px;
	}
	
	.input-lg {
		font-size:14px;
	}
	
	
	.form-control {
		border-radius:0px;
	}
	
